* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-container {
  background-color: yellow;
  padding: 50px 150px;
}
.first-half {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/mountain.jpg");
  background-repeat: no-repeat;
  height: 250px;
}
.profile-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 190px;
}

.top-text {
  padding: 30px 40px;
  top: 0;
  width: 130px;
  display: grid;
  grid-template-columns: 20px auto;
  color: #fefefe;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #cdcdcd;
  margin-left: 270px;
  margin-top: 18px;
  font-size: 12px;
}

.name {
  color: #fefefe;
  font-size: 22px;
}
.btn {
  font-size: 10px;
  border: 1px solid #cdcdcd;
  padding: 5px 10px 5px;
}
.top-right-bar {
  display: grid;
  grid-template-columns: 70px 10px 10px;
  gap: 25px;
  color: #fefefe;
  width: 100px;
  position: absolute;
  top: 80px;
  right: 240px;
}

.top-box {
  background-color: #fbfafaa5;
  position: absolute;
  width: 210px;
  height: 80px;
  top: 150px;
  right: 190px;
  padding: 25px;
  display: grid;
  grid-template-columns: 80px 120px;
}
.com-btn {
  margin-top: 15px;
  background-color: #fca424;
  padding: 7px;
  color: #fefefe;
  font-size: 14px;
  width: 80px;
}
.second-half {
  background-color: #fefefe;
  height: 750px;
}
