* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 2px;
}
.main-container {
  background-color: rgba(226, 226, 164, 0.619);
  padding: 50px 150px;
  box-shadow: rgba(72, 72, 79, 0.2) 20px 15px 60px 10px;
}
.first-half {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/mountain.jpg");
  background-repeat: no-repeat;
  height: 250px;
}
.profile-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 190px;
}

.top-text {
  padding: 30px 40px;
  top: 0;
  width: 130px;
  display: grid;
  grid-template-columns: 20px auto;
  color: #fefefe;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #cdcdcd;
  margin-left: 270px;
  margin-top: 18px;
  font-size: 12px;
}

.name {
  color: #fefefe;
  font-size: 22px;
}
.btn {
  font-size: 9.5px;
  border: 1px solid #cdcdcd;
  padding: 5px 10px 5px;
}
.btn:hover {
  cursor: pointer;
}
.top-right-bar {
  display: grid;
  grid-template-columns: 70px 10px 10px;
  gap: 25px;
  color: #fefefe;
  width: 100px;
  position: absolute;
  top: 80px;
  right: 240px;
}
.yellow_dot {
  position: absolute;
  top: 1px;
  right: -13px;
  width: 4px;
  height: 4px;
  background-color: #fca424;
  border-radius: 50%;
  border: 2px solid #fca424;
}
.top-box {
  background-color: #fbfafaa5;
  position: absolute;
  width: 210px;
  height: 80px;
  top: 130px;
  right: 190px;
  padding: 21px;
  display: grid;
  grid-template-columns: 80px 120px;
}
.com-btn {
  margin-top: 15px;
  background-color: #fca424;
  padding: 7px;
  color: #fefefe;
  font-size: 14px;
  width: 80px;
  cursor: pointer;
}

.second-half {
  background-color: #fefefe;
  height: 850px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.side-bar {
  width: 290px;
  height: 100%;
  border-right: 1px solid #cdcdcd;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
}
.aboutfam {
  margin-left: 30px;
  margin-top: 80px;
  font-size: 14px;
}
.aboutfam img {
  object-fit: fill;
}
.famtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 410px;
  grid-row-gap: space-between;
}
.line {
  width: 90%;
  margin: 10px 0;
  height: 1px;
  background-color: #cdcdcd;
}
.image {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.imgtext {
  font-size: 12px;
  color: #cdcdcd;
  font-weight: bold;
}
.col--2 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.col--2 img,
.col--3 img,
.col--4 img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.col--3 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.col--4 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.aboutme {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 14px;
}
.activity {
  margin-left: -90px;
  margin-top: 30px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
}
.metitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 410px;
  grid-row-gap: space-between;
}
.pair-2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.up {
  color: #cdcdcd;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.right-side {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: 890px;
  margin-top: 30px;
  font-size: 14px;
  cursor: pointer;
}
.top-nav p:hover {
  border-bottom: 2px solid #fca424;
}
.dash {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: 10px;
  border-bottom: 2px solid #fca424;
}
.claimbtn {
  background-color: #0dd39d;
  margin-top: -8px;
  margin-bottom: 20px;
  text-align: center;
  width: 70px;
  padding: 5px 10px;
  color: #fefefe;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.box--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.boxs {
  background-color: #fefefe;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 105px;
  width: 260px;
}
.big-num {
  font-size: 52px;
  text-align: center;
  margin: 20px;
  border-right: 1px solid #cdcdcd;
  padding-right: 10px;
}

.inner--2 p {
  font-size: 15px;
}
.inner--2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #cdcdcd;
  text-align: left;
  width: 100px;
  margin: 25px 5px;
}
.claim-img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-left: -1.2rem;
  border: 0.3rem solid #fff;
}

.claim-img:first-child {
  margin-left: 0;
}

.claim-imgs {
  display: flex;
  height: 10px;
}
.claim-img {
  height: 30px;
  width: 30px;
}

.long--2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.long-box {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 560px;
}
.longy {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 18px;
}
.large {
  font-size: 22px;
  color: black;
  margin-bottom: 15px;
}
.longy img {
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 21px;
}
.long-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
  color: #cdcdcdbe;
}
.pay {
  height: 20px;
  font-size: 15px;
  width: 50px;
  background-color: #fca424;
  padding: 5px 10px;
  margin-top: 120px;
  cursor: pointer;
}
.lines {
  width: 70%;
  margin: 10px 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}
.actdetail {
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 270px;
  margin-bottom: 20px;
}
.acts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.light {
  color: #eae1e1ce;
}
.dark {
  color: #cdcdcd;
}

.circular-progress {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: orange;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: orange;
}

.mask,
.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 70px, 70px, 35px); /* Clip for semi-circle */
}

.mask {
  clip: rect(0, 35px, 70px, 0);
}

.full {
  transform: rotate(180deg);
}

.fill {
  background-color: lightgray;
  clip: rect(0, 35px, 70px, 0); /* Rotate for the orange fill */
}

.full .fill {
  transform: rotate(270deg); /* This covers 75% of the circle */
}

.half .fill {
  clip: rect(0, 35px, 70px, 35px); /* Adjust for the remaining portion */
}

.fix {
  background-color: orange;
  transform: rotate(135deg); /* Fix overlap in progress */
}

.inside-circle {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
  top: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.connecting-line {
  height: 530px;
  position: absolute;
  width: 0.4px;
  margin: 15px 0 0 6px;
  color: #837d7594;
}
