* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  border-radius: 2px;
}
html {
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
img {
  cursor: pointer;
  object-fit: cover;
}
.main-container {
  background-color: rgba(226, 226, 164, 0.619);
  padding: 50px 150px;
  box-shadow: rgba(72, 72, 79, 0.2) 20px 15px 60px 10px;
}
.first-half {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/mountain.jpg");
  background-repeat: no-repeat;
  height: 250px;
}
.profile-image {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 195px;
  border-radius: 10px;
}

.top-text {
  padding: 30px 40px;
  top: 0;
  width: 100px;
  display: grid;
  grid-template-columns: 20px 80px;
  color: #fefefe;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #cdcdcd;
  margin-left: 270px;
  margin-top: 18px;
  font-size: 12px;
}

.name {
  color: #fefefe;
  font-size: 22px;
}
.btn {
  font-size: 9.5px;
  border: 1px solid #cdcdcd;
  padding: 5px 10px 5px;
  background: rgba(255, 255, 255, 0.244);
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.666);
  color: #1a1a1a;
}
.notify:hover {
  transform: rotate(20deg);
}
.top-right-bar {
  display: grid;
  grid-template-columns: 70px 10px 10px;
  gap: 25px;
  color: #fefefe;
  width: 100px;
  position: absolute;
  top: 80px;
  right: 240px;
}
.yellow_dot {
  position: absolute;
  top: 1px;
  right: -13px;
  width: 4px;
  height: 4px;
  background-color: #fca424;
  border-radius: 50%;
  border: 2px solid #fca424;
}
.top-box {
  background: rgba(255, 255, 255, 0.244);
  position: absolute;
  width: 210px;
  height: 60px;
  top: 130px;
  right: 190px;
  padding: 21px;
  display: grid;
  grid-template-columns: 80px 120px;
}
.inside-box {
  width: 150px;
}
.camera:hover {
  scale: 1.5;
}
.com-btn {
  margin-top: 15px;
  background-color: #fca424;
  padding: 7px;
  color: #fefefe;
  font-size: 14px;
  width: 80px;
  cursor: pointer;
}
.com-btn:hover {
  background-color: #e9b05ba8;
  font-weight: 600;
  color: #1a1a1a;
}
.second-half {
  background-color: #fefefe;
  height: 770px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.side-bar {
  width: 290px;
  height: 100%;
  border-right: 1px solid #cdcdcd;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
}
.aboutfam {
  margin-left: 30px;
  margin-top: 80px;
  font-size: 14px;
}
.famtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 410px;
  grid-row-gap: space-between;
}
.line {
  width: 90%;
  margin: 10px 0;
  height: 1px;
  background-color: #cdcdcd;
}
.image {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.imgtext {
  font-size: 12px;
  color: #cdcdcd;
  font-weight: bold;
}
.col--2 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.col--2 img,
.col--3 img,
.col--4 img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.col--3 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.col--4 {
  margin-top: 15px;
  display: grid;
  width: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.aboutme {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 14px;
}
.metitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 410px;
  grid-row-gap: space-between;
  overflow: hidden;
}

.activity-sec {
  padding: 15px 10px 0 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: -90px;
  margin-top: 30px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 470px;
  transition: all 0.2s ease-in;
  scrollbar-color: orange #fefefe;
  scroll-behavior: smooth; /* Adds smooth scrolling */
  margin-right: 30px;
}

.act-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #a59e9e;
}

.activity-margin {
  margin: 1.2rem 0;
  border: 0.1rem solid #cdcdcd93;
}

.act {
  margin-top: 0.8rem;
  padding: 0 2.2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.act:hover {
  color: rgb(0, 72, 255);
}

.act-sub-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.act-desc {
  color: #cdcdcd;
  font-weight: bold;
  line-height: 1.5rem;
}

.act-time {
  font-size: 1.2rem;
  color: #cdcdcd;
}

.act-sub-title {
  position: relative;
}

.act-sub-title::before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background-color: rgb(0, 72, 255);
  position: absolute;
  border-radius: 50%;
  top: 0.4rem;
  left: -2rem;
  filter: blur(0.1rem);
}

.child-2::before {
  background-color: #fca424;
}

.child-3::before {
  background-color: rgb(8, 164, 8);
}

.client-act-history {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 38rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.client-act-history::-webkit-scrollbar-button {
  display: none;
}
.client-act-history::-webkit-scrollbar {
  width: 2px; /* Set scrollbar width */
}

.client-act-history::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

.client-act-history::-webkit-scrollbar-thumb {
  background-color: #fca424; /* Color of the scrollbar thumb */
  border-radius: 1rem; /* Rounded corners */
  border: 2px solid transparent; /* Transparent border to ensure no extra elements */
  min-height: 50px;
}

.client-act-history::-webkit-scrollbar-thumb:hover {
  background-color: #e6951c; /* Color when hovering */
}

.light {
  color: #eae1e1ce;
}
.dark {
  color: #cdcdcd;
}

.pair-2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.up {
  color: #cdcdcd;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.right-side {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  width: 890px;
  margin-top: 30px;
  font-size: 14px;
  cursor: pointer;
}
.top-nav p {
  position: relative;
}
.top-nav p:hover {
  scale: 1.1;
  text-shadow: 2px 2px 4px rgba(134, 130, 130, 0.3);
}
.top-nav p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1.5px;
  width: 100%;
  height: 2px;
  background-color: #fca424; /* Border color */
  transform: scaleX(0); /* Start with no width */
  transform-origin: bottom right; /* Start scaling from the right */
  transition: transform 0.5s ease-in-out; /* Animate the scale */
}

.top-nav p:hover::after {
  transform: scaleX(1); /* Expand the border to full width */
  transform-origin: bottom left; /* Scale to the left */
}
.top-nav p:last-child:hover::after {
  transform: scaleX(0); /* No effect for the last child */
}
.dash {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: 10px;
  border-bottom: 2px solid #fca424;
}
.claimbtn {
  background-color: #0dd39d;
  margin-top: -8px;
  margin-bottom: 20px;
  text-align: center;
  width: 70px;
  padding: 5px 10px;
  color: #fefefe;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
.claimbtn:hover {
  background-color: #b8e7dbd9;
  font-weight: 600;
  color: #0dd39d;
  transition: all;
}
.box--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.boxs {
  background-color: #fefefe;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 105px;
  width: 270px;
}
.boxs:hover {
  transition: all 0.5s ease-in;
  transition-behavior: normal;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: all;
  transform: scale(1.1);
  cursor: pointer;
}
.big-num {
  font-family: "Dosis", sans-serif;
  font-size: 52px;
  text-align: center;
  margin: 20px;
  border-right: 1px solid #cdcdcd;
  padding-right: 10px;
}

.inner--2 p {
  font-size: 15px;
}
.inner--2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: #cdcdcd;
  text-align: left;
  width: 100px;
  margin: 25px 5px;
}
.claim-img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-left: -1.2rem;
  border: 0.3rem solid #fff;
}

.claim-imgs:first-child {
  margin-left: 0;
}

.claim-imgs {
  display: flex;
  height: 10px;
}
.claim-img {
  height: 30px;
  width: 30px;
}
.claim-imgs:last-child {
  position: relative; /* Ensures the pseudo-element is positioned relative to this container */
}

.claim-imgs:last-child::after {
  content: "+32";
  position: absolute; /* Ensure the pseudo-element is absolutely positioned */
  top: 2px;
  right: 11px;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  background: rgba(13, 211, 158, 0.67); /* Light background */
  color: white;
  display: grid;
  place-items: center; /* Center the content */
  font-size: 0.8rem;
  z-index: 1; /* Ensure it's layered above the image */
}

.long--2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.long-box {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 350px;
  width: 560px;
}
.longy {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr 0.5fr;
  gap: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
}
.longy:hover {
  transition: all 0.5s ease-in;
  transition-behavior: normal;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: all;
  transform: scale(1.03);
  cursor: pointer;
}
.large {
  font-size: 22px;
  color: black;
}
.longy img {
  height: 150px;
  width: 150px;
  padding: 15px;
  border-radius: 21px;
}
.long-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
  color: #cdcdcdbe;
  font-size: 14px;
}
.two {
  width: 150px;
  display: flex;
  flex-direction: row;
  gap: 5px;

  align-items: center;
}
.pay {
  height: 20px;
  font-size: 15px;
  width: 50px;
  background-color: #fca424;
  padding: 5px 10px;
  margin-top: 100px;
  cursor: pointer;
}
.pay:hover {
  color: #1a1a1a;
  background-color: #fca62463;
  scale: 1;
}
.progress-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.292);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.border-progress {
  width: 68px;
  height: 69px;
  border: 5px solid orange;
  border-radius: 80%;
  position: absolute;
  top: 16.3px;
  left: 6.8%;
  border-top-color: rgb(169, 169, 169);
  rotate: 45deg;
}
.progress-text {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  color: #fefefe;
}

.connecting-line {
  position: relative;
  width: 0.4px;
  height: 130px;
  margin: 15px 0 0 6px;
  color: #837d7594;
  margin-top: -20px;
  margin-right: -20px;
}
.baju {
  display: flex;
  flex-direction: row;
  margin-bottom: -30px;
}
